
/*Moving list*/

body{
  font-family: 'Inter', sans-serif;
}

.animLine{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.movingUl{
  width: 240%;
  font-weight: 700;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  animation-name: slidearound;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow: hidden;
  
}

.movingUl>li{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  
}

.smallIcon{
  width: 22px;
  height: 22px;
  padding: 8px;
}
.iconDiv{
  border: 1px solid grey;
  border-radius: 50%;
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

}


@keyframes slidearound {

  from { transform: translateX(0); }
  to { transform: translateX(-20%); }

  /*from {
     margin-right: -50%;
     width: 250%;
   }
   to {
     margin-left: -50%;
     width: 250%;
   }*/
 }


 /*Third part*/

 .plantImg{
  padding: 8px;
  width: 20px;
  height: 20px;
 }

 .plantImgDiv{
  border: 1px solid black;
  border-radius: 50%;
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .containerDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("arrows-home.svg");
  background-position: center;
  background-size:auto;
  background-repeat: no-repeat;
  
 }

 .secondCol{
  width: 600px;
  height: 700px;
  
  background-image: url("coconutCaramel.svg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  
 }

 .firstCol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:left;
  gap: 100px;
  margin-bottom: 120px;
  width: 400px;
 }
 .thirdCol{
  display: flex;
  flex-direction: column;
  align-items:left;
  justify-content: center;
  gap: 120px;
  margin-bottom: 160px;
  width: 400px;
  
 }

 .firstCol >div{
  font-size: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 200px;
  gap: 10px;
 }

 .thirdCol >div{
  font-size: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  max-width: 300px;
  gap: 10px;
 }

 .thirdPart >h1{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7px;
 }

 .orangeLetters{
  color: #FF9A30;

 }


 /*Button*/

 .buttonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #3356AE;
  border-radius: 45px;
  width: fit-content;
  gap: 30px;
}

.box {
  padding: 10px;
  margin: 10px;
  color: #3356AE;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

.active {
  background-color: #3356AE;
  color: white;
  border-radius: 25px;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

 





